*~
*.o
TAGS
a.out
*.so
*.a
__pycache__/
*.pyc
*.cache
.deps/
.libs/
*.log
*.status
Makefile
\#*#
build
libtool

# executables:
a.out

# autotools
Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/compile
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/ar-lib
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

